<li>
	{{burger_name}}

	<button class="change-devoured" data-id="{{id}}" data-newnom="{{devoured}}">
		{{#if devoured}} Put it back on the menu!{{else}} Devour this burger! {{/if}}
	</button>

	<button class="delete-burger" data-id="{{this.id}}">Toss it!</button>
</li>